<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ping.mapper.FilesMapper">

    <resultMap id="BaseResultMap" type="com.ping.pojo.Files">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="fileUuid" column="file_uuid" />
            <result property="fileName" column="file_name" />
            <result property="filePath" column="file_path" />
            <result property="createTime" column="create_time" />
            <result property="fileSize" column="file_size"/>
            <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,file_name,file_path,create_time,file_size,status
    </sql>

    <select id="getFileById" resultMap="BaseResultMap">
        select * from files where id = #{id}
    </select>
</mapper>
