<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ping.mapper.SysConfigMapper">

    <resultMap id="BaseResultMap" type="com.ping.pojo.SysConfig">
            <id property="configKey" column="config_key" />
            <result property="configValue" column="config_value" />
            <result property="description" column="description" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        config_key,config_value,description,create_time,update_time
    </sql>
</mapper>
